body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(200, 200, 200);
}

#home {
    text-align: center;
    margin-top: 20vh;
}

#chat {
    text-align: center;
    margin-top: 10vh;
}

#name {
    font-size: 10vh;
}

header {
    position: absolute;
    top: 20px;
    font-size: 2vw;
    left: calc(10vw - 10px);
    text-align: left;
}

.headerPart {
    font-size: 2vw;
}

button {
    font-family: 'Open Sans', sans-serif;
    border-radius: 50px;
    color: white;
    background-color: #4286f4;
    /*padding: 10px 20px 10px 20px;*/
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

input {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
    border: none;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

#code {
    width: 92vw;
    font-size: 8vw;
    text-align: center;
}

#chatInput {
    width: calc(92vw - 30px);
    font-size: 4vw;
    padding-left: 25px;
    padding-right: 25px;
}

#createButton {
    width: 20vw;
}

#exitButton {
    width: 20vw;
}

#username {
    font-size: 2vw;
    display: table-cell;
    width: 50vw;
    margin-left: 10vw;
}

#codeCorner {
    font-size: 2vw;
    display: table-cell;
    width: 50vw;
    margin-left: 10vw;
    background-color: unset;
    color: black;
    text-align: right;
    position: relative;
    left: 10px;
}

#chatArea {
    text-align: left;
    height: 78vh;
    overflow-y: auto;
    font-size: 3vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.hM {
    display: unset;
}

.hD {
    display: none;
}

@media (max-width: 600px) {
    .hM {
        display: none;
    }

    .hD {
        display: unset;
    }

    header {
        font-size: 5vw;
    }

    .headerPart {
        font-size: 5vw;
    }

    #createButton {
        width: 30vw;
    }

    #username {
        font-size: 5vw;
        width: 45vw;
        margin-left: 5vw;
    }

    #codeCorner {
        font-size: 5vw;
        width: 45vw;
        margin-left: 5vw;
    }

    #chatInput {
        font-size: 8vw;
        width: calc(92vw - 10px);
        padding-left: 15px;
        padding-right: 15px;
    }

    #chatArea {
        font-size: 5vw;
        padding-left: 3vw;
        padding-right: 3vw;
    }
}